# Virtual environment and secrets
.venv/
.env

# Python cache and notebooks
__pycache__/
*.pyc
.ipynb_checkpoints/

# Raw and processed data assets
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep